
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-center">Fill Your Online Application</h4>
        </div>
        <%= form_with(model: @unihub_application) do |f| %>

          <div class="row mt-2">
            <div class="col-md-6">
              <%= f.label :current_qualification %><br />
              <%= f.select(:current_qualification, options_for_select(CURRENT_QUALIFICATION.map { |cq| [cq]}), {}, {class: "form-control"}) %>
            </div>

            <div class="col-md-6">
              <%= f.label :cgpa_or_percentage %><br />
              <%= f.text_field :cgpa_or_percentage, required: true, autocomplete: "cgpa_or_percentage", class: "form-control", placeholder: "Cgpa or Percentage" %>
            </div>
          </div><br />

          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.label :current_institution %>
              <%= f.text_field :current_institution, required: true, autocomplete: "current_institution", class: "form-control", placeholder: "Current Institution" %>
            </div>
          </div><br />

          <div class="row mt-2">
            <div class="col-md-6">
              <%= f.label :interested_qualification %><br />
              <%= f.select(:interested_qualification, options_for_select(INTERESTED_QUALIFICATION.map { |ic| [ic]}), {}, {class: "form-control"}) %>
            </div>

            <div class="col-md-6">
              <%= f.label :course %>
              <%= f.text_field :course, required: true, autocomplete: "course", class: "form-control", placeholder: "Course" %>
            </div>
          </div><br />

          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.label :interested_country %>
              <%= f.select(:country, options_for_select(Country.all.map { |c| [c.name]}), {}, {class: "form-control"}) %>
            </div>
          </div><br />

          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.check_box :accomodation_required %>
              <%= f.label :accomodation_required %><br /><br />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.label :attach_your_documents_in_pdf %>
              <%= f.file_field :file, multiple: true, accept: 'application/pdf' %>
            </div>
          </div><br />
          
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>