<br />
<div class="center container">
  <h1>Parents Guide</h1>
  <p class="lead text-muted">
    Studying in a foreign country is not only difficult for students, but also for their parents; it is far more difficult for parents to relocate their children to an altogether new location. It is certainly one of the more courageous choices that they need to make. However, this presents a wonderful opportunity for the youngsters because they will have the chance to participate in an exchange with students from other countries, which will broaden their perspectives and stimulate their thought processes. Given that this is one of the most difficult tasks that the students face, it is critical for you as a parent to provide support for them and take an active role in navigating this process.
  </p>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">Keep an open conversation with the child</h2>
        <p class="font-italic text-muted mb-4">It is important for parents to have honest conversations with their children about why they want to travel outside of the country. It could pertain to one's professional life or their personal life. To properly direct the youngster, it is vital to understand what it is that he is looking for.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src=<%= image_path('parent_guide/parents-role-in-the-education-of-children-with-autism.jpg') %> alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src=<%= image_path('parent_guide/parent-doing-research.jpg') %> alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6">
        <h2 class="font-weight-light">A thorough amount of research</h2>
        <p class="font-italic text-muted mb-4">The child is responsible for conducting some of the necessary research; however, it is the parent's duty to conduct additional investigation into the subject matter in order to guarantee that the child will be able to attend the university of his or her choice and will be successful in the chosen field of study. They are in the best position to make judgments regarding their children because they are the ones who know the most about them.
        </p>
      </div>
    </div><br /><br />

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">Have an understanding of the Hurdles</h2>
        <p class="font-italic text-muted mb-4">It is crucial to comprehend and be aware of the difficulties faced by a parent. Therefore, you should chat to people who have sent their children to a different country. Make an effort to comprehend the things they've been through and get wisdom from the things they've overlooked while making the preparations. If the parents can be as explicit as they possibly can, it will be helpful
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src=<%= image_path('parent_guide/understanding-problem.jpg') %> alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src=<%= image_path('parent_guide/finances.jpg') %> alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6">
        <h2 class="font-weight-light">Information pertaining to finances</h2>
        <p class="font-italic text-muted mb-4">It is always going to be more expensive to study in one's native nation as opposed to studying in another country. Therefore, it is of the utmost importance to be aware of all of the expenditures associated with the process of studying abroad. Parents have a great deal of responsibility on their shoulders when it comes to ensuring that their children have the money to study in another country. The budget should cover not just the cost of tuition but also the cost of living, medical, and visa expenses, as well as any and all other extraneous fees. The financial requirements for studying abroad are included in the budget in the same manner as they will be necessary.
        </p>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">Concerning the Health and Safety of</h2>
        <p class="font-italic text-muted mb-4">Due to the significant disparity in the average temperatures of the two countries, they have a responsibility as parents to exercise extreme caution for the sake of their child's health. In addition, the child will not receive any assistance from the parents, which is another reason why it is crucial to take all of the appropriate safety steps to ensure that they remain healthy. Create a list of all of the prescription medications that a kid is currently taking, and consult with the child's doctor to learn about similar pharmaceutical brands that are offered at the study location.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src=<%= image_path('parent_guide/safety.jpg') %> alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>