<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= rails_blob_url(@university.images.first.image.blob) unless @university.images.first.nil? %>" alt="<%= @university.name %>'s Image" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="<%= rails_blob_url(@university.images.first.image.blob) unless @university.images.first.nil? %>" alt="<%= @university.name %>'s Image" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="<%= rails_blob_url(@university.images.first.image.blob) unless @university.images.first.nil? %>" alt="<%= @university.name %>'s Image" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="center container">
  <h1><%= @university.name %></h1>
  <p class="lead text-muted"><%= @university.description %></p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Country</td>
        <td><%= @university.country.name %></td>
      </tr>
      <tr>
        <td>Ranking</td>
        <td><%= @university.world_ranking %></td>
      </tr>
      <tr>
        <td>Tuition Fee</td>
        <td><%= @university.tuition_fee %></td>
      </tr>
      <tr>
        <td>IELTS Score</td>
        <td><%= @university.ielts_score == 'not_required' ? 'Not Required' : uni.ielts_score %></td>
      </tr>
      <tr>
        <td>Intakes</td>
        <td><%= @university.intake %></td>
      </tr>
      <tr>
        <td>Degrees Offered</td>
        <td><%= @university.degrees.map(&:name) %></td>
      </tr>
      <tr>
        <td>Courses Offered</td>
        <td><%= @university.courses.map(&:name) %></td>
      </tr>
    </tbody>
  </table>

  <h1>Courses offered by <%= @university.name %></h1>
  <div class="row">
    <% @university.courses.each do |c| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= c.name %></h5>
            <p class="card-text course-card-description lead text-muted"><%= c.description %></p>
          </div>
          
        </div>
        <br><br>
      </div>
    <% end %>
  </div>
</div>

